input:focus {
  border-color: blue;
}
input
{
  border:none;
  border-bottom: 2px solid blue;
}
#c1{
  padding: 40px;
}
.card{
  border-left: 2px solid blue;

}
.card:hover{
  height: 230px;
  border:2px solid #808080;
  border-radius: 20px;
}
